# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

- list popular languages for data science
- list commonly used libraries for data science
- list development environment open source tools used in data science

Some of the popular languages that Data Scientists use are:

1. Python 
2. R
3. SQL
4. Scala 
5. Java

Some of the commonly used libraries used by Data Scientists include:

1. ggplot2
2. NumPy
3. TensorFlow
4. Pandas

|Data Science Tools|
| ---------------- |
| R Studio |
| Jupyter Notebook |
| ApacheSpark |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

This will convert 200 minutes to hours by dividing by 60

In [2]:
200/60

3.3333333333333335

## Author

Kristen Hendrickson